body{
  margin:0;
  background:#222;
  overflow:hidden;
}

canvas{
  display:block;
  margin:0 auto;
  background:#f5f5dc;
}

#messageBox{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:90px;
  background:black;
  color:white;
  display:none;
  align-items:center;
  padding-left:20px;
  font-size:20px;
  z-index:9999;
}
